<div class="container col-md-10 col-sm-10 col-lg-10">
    <gwent-header [header]="news">

    </gwent-header>
    <div *ngFor="let block of news.blocks">
      <news-block [block]="block"></news-block>
      </div>
</div>



