
  <div>
      <mat-tab-group mat-align-tabs="start"  style="height: 1000px; width: 1000px; color: #aa66cc">
          <mat-tab *ngFor="let videoGroup of videos; let i = index" label="Page {{i + 1}}">
              <media-details [videoGroup]="videoGroup" >
              </media-details>
          </mat-tab>
        </mat-tab-group>
  </div>
