<hr>
<h3>
  {{matchUp.title}}
</h3>
<div *ngFor="let round of matchUp.rounds">
  <h5>Round {{round.nbr}}</h5>
  <span>
    <p>{{round.description}}</p>
  </span>
</div>
<div *ngIf="shouldEdit">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <label for="name"> Title</label>
        <input type="text" class="form-control" id="title"
              required
              [(ngModel)]="matchUp.title" name="title"
              #title="ngModel">
        <div [hidden]="title.valid || title.pristine"
            class="alert alert-danger">
          Title is required
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-12" *ngFor="let round of matchUp.rounds; let i = index">
        <label for="title"> Description of round {{round.nbr}}</label>
        <textarea type="text" class="form-control" 
              [(ngModel)]="matchUp.rounds[i].description" name="description">
          </textarea>
      </div>
</div>
