<hr>
<div *ngIf="shouldEdit">
  <label for="title"> Title</label>
  <input type="text" class="form-control" id="title"
        required
        [(ngModel)]="block.title" name="title"
        #title="ngModel">
  <div [hidden]="title.valid || title.pristine"
      class="alert alert-danger">
    Title is required
  </div>
  <div *ngFor="let paragraph of block.paragraphs">
    <paragraph-edit [paragraph]="paragraph">
    </paragraph-edit>
  </div>
</div>