<!-- <div class="container col-md-8 col-sm-8 col-lg-8">
    <img src="{{gwentNews.image}}" style="width: 100%; padding-bottom: 10px">
    <div class="container col-md-12 col-sm-12 col-lg-12">
      <h3>{{gwentNews.title}}</h3>
      <p>{{gwentNews.intro}}</p>
      <div class="text-right">
        <small>last update - {{gwentNews.date | date | date:'MM/dd/yyyy'}}</small>
      </div>
      <hr>
      <div *ngFor="let block of gwentNews.newsBlocks">
        <div *ngIf="block.introBlock" class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
                <img src="{{block.image}}" style="width: 100%; padding-bottom: 10px">
            </div>
            <div class="col-md-8 col-sm-8 col-lg-8">
              <div *ngFor="let p of block.paragraphs">
                  <h3>{{p.title}}</h3>
                  <p>
                    {{p.text}}
                  </p>
              </div>
            </div>
        </div>
      </div>
    </div>
</div> -->