    <label for="link"> Link </label>
    <input type="text" class="form-control" id="link"
          required
          [(ngModel)]="mediaVideo.link" name="link"
          #link="ngModel">

    <label for="link"> Author </label>
    <input type="text" class="form-control" id="author"
          required
          [(ngModel)]="mediaVideo.author" name="author"
          #author="ngModel">
  <button (click)="save()" class="btn btn-success border" ><span> 
    <i class="far fa-save"></i></span></button>