
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>{{confirmationMessage}}<span class="text-primary">{{changedName}}</span> ? </strong></p>
    <span class="text-danger">This operation is permanent.</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok')">Ok</button>
  </div>
</ng-template>