  
<div class="jumbotron bg-transparent" >
    <h1 class="display-4">{{deck.title}} </h1>
    <br/>
    <div class="row col-md-12 col-sm-12 col-lg-12">
        <div *ngFor="let star of stars">
            <span style="color: yellow"> <i class="fas fa-star fa-2x"></i></span>
        </div>
        <div *ngIf="deck.rating % 1 !== 0">
             <span style="color: yellow"> <i class="fas fa-star-half fa-2x"></i></span>
        </div>
    </div>
   
  <br/>
  <div>
    <p class="lead" >{{deck.description}}</p>
    <hr class="my-4">
  </div>
    <div class="row">
      <div class="col pr-auto ">
          <div class="view overlay zoom">
            <img src="{{deck.image}}" >
          </div>
          <span>
                <a href="{{deck.importLink}}" placement="bottom" ngbTooltip="Import from gwent library"> Import deck from gwent library</a></span>
      </div>

      
      <div class="col-md-7 col-sm-7 col-lg-7 ">
        <mdb-card *ngFor="let decklist of deck.decklistData" borderColor="border-info"  bgColor="bg-dark" class="mb-4">
                <mdb-card-header class="bg-transparent border-info">{{decklist.key}}</mdb-card-header>
                <mdb-card-body>
            <mdb-card-text *ngFor="let item of decklist.listData" class="text-white" ><p class="h6" > <mdb-icon far icon="circle" style="color: #33b5e5"></mdb-icon> {{item}}</p> 
            </mdb-card-text>
                </mdb-card-body>
        </mdb-card>

      
       
    </div>
    <div *ngIf="deck.ytGuide">
        <!-- might be an ngFor here-->
        <iframe width="560" height="315"
            [src]="deck.ytGuide | safe"
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
    </div>  
</div>   
<div>
    <gwent-deck-edit  [deck]="deck" [shouldEdit]="shouldEdit" [isGuide]="isGuide">
    </gwent-deck-edit>
</div>
