<div *ngIf="shouldEdit">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <label for="title"> Title</label>
      <input type="text" class="form-control" id="title"
            required
            [(ngModel)]="header.title" name="title"
            #title="ngModel">
      <div [hidden]="title.valid || title.pristine"
          class="alert alert-danger">
        Title is required
      </div>
    </div>
  
    <div class="col-md-12 col-sm-12 col-lg-12">
      <label for="name"> Author</label>
      <input type="text" class="form-control" id="author"
            required
            [(ngModel)]="header.author" name="author"
            #author="ngModel">
      <div [hidden]="author.valid || author.pristine"
          class="alert alert-danger">
        Author is required
      </div>
    </div>
  
    <div class="col-md-12 col-sm-12 col-lg-12">
      <label for="shortDescription"> Short description</label>
      <textarea type="text" class="form-control" id="shortDescription"
            required
            [(ngModel)]="header.shortDescription" name="shortDescription"
            #shortDescription="ngModel">
       </textarea>
      <div [hidden]="shortDescription.valid || shortDescription.pristine"
          class="alert alert-danger">
        Short description is required
      </div>
    </div>
  
    <div class="col-md-12 col-sm-12 col-lg-12">
      <label for="updates"> Updates</label>
      <input type="text" class="form-control" id="updates"
            [(ngModel)]="header.updates" name="updates"
            #shortDescription="ngModel">
    </div>
  
    <div class="col-md-12 col-sm-12 col-lg-12">
      <label for="updates"> Image</label>
      <input type="text" class="form-control" id="image"
            [(ngModel)]="header.image" name="image"
            #image="ngModel">
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
        <label for="altImage"> alt Image</label>
        <input type="text" class="form-control" id="altImage"
              [(ngModel)]="header.altImage" name="altImage"
              #altImage="ngModel">
      </div>
    <br/>
    <button type="button" 
      class="btn btn-outline-success btn-lg btn-block"
      (click)="save()">
      <span><i class="fas fa-save"></i> Save</span></button>

      <modal-confirmation #modalConfirmation
        [confirmationMessage]="'Are you sure you want to save the data for '"
        [changedName]="header.title">
      </modal-confirmation>

  </div>