<footer class="page-footer font-small bg-dark fixed-bottom" >
    <!-- Footer Elements -->
    <div class="container">

    <!-- Call to action -->

        <!-- Grid row-->
        <div class="row d-flex justify-content-start">
            <div class="col-md-8 col-sm-8 col-lg-8 ">
              <ul class="list-unstyled list-inline">
                  <li class="list-inline-item">
                    <h5>Contact:</h5>
                  </li>
                  <li class="list-inline-item">
                    <a href="mailto:TeamLeviathanGamingtlg@gmail.com" class="btn btn-link" style="color:#33b5e5 !important">teamLeviathanGamingtlg@gmail.com </a>
                  </li>
                </ul>
            </div>
              
          <!-- Grid column -->
          <div class="col-md-4 col-sm-4 col-lg-4">
            <div class="mb-5 flex-center">

              <a class="tw-ic" href="" >
                  <mdb-icon fab icon="twitter" size="2x" class="mr-md-3 mr-1"></mdb-icon>
              </a>
              <a class="tw-ic" href="" >
                  <mdb-icon fab icon="discord" size="2x" class="mr-md-3 mr-1"></mdb-icon>
              </a>
              <a class="tw-ic" href="" >
                <mdb-icon fab icon="twitch" size="2x" class="mr-md-3 mr-1"></mdb-icon>
            </a>
              <a class="tw-ic" href="" >
                <mdb-icon fab icon="youtube" size="2x" class="mr-md-3 mr-1"></mdb-icon>
              </a>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
  
      </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#" style="color:blueviolet"> Team Leviathan Gaming | All Rights Reserved</a>
    </div>
    <!-- Copyright -->
  
  </footer>