<div class="container pt-4">
  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card border-info">
        <div class="card-header">Login</div>
        <div class="card-body" >
            <input type="text" class="form-control mb-2" placeholder="Email" #userEmail required autofocus>
            <input type="password" class="form-control mb-2" placeholder="Password" #userPassword required>
            <button class="btn btn-lg btn-primary btn-block mb-1"  (click)="authService.login(userEmail.value, userPassword.value)">Login</button>

        </div>
      </div>
    </div>
  </div>
</div>
