<div class= "col-md-12 col-lg-12 col-sm-12" style ="padding-top: 15%">
    <div class=" text-white">
        <h5> <strong> Do you have any questions? Please do not hesitate to contact us directly. 
            <br/>
            Our team will come back to you within a matter of hours to help you. </strong></h5>
    </div>
    <mdb-card class="w-100">
   
        
            <!--Card content-->
            <mdb-card-body class="px-lg-5 pt-0 bg-dark text-white">
            <!-- Form -->
            <form class="text-center">
                <!-- Name -->
                <div class="md-form mt-3 ">
                <input type="text" id="materialContactFormName" class="form-control text-white" mdbInput>
                <label for="materialContactFormName">Name</label>
                </div>
        
                <!-- E-mail -->
                <div class="md-form text-white">
                <input type="email" id="materialContactFormEmail" class="form-control text-white" mdbInput>
                <label for="materialContactFormEmail">E-mail</label>
                </div>
        
                <!--Message-->
                <div class="md-form">
                <textarea type="text" id="materialContactFormMessage" class="form-control md-textarea" mdbInput></textarea>
                <label for="materialContactFormMessage">Message</label>
                </div>
        
                <!-- Send button -->
                <a mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect btn btn-md" mdbWavesEffect
                type="submit" href="mailto:radu.andrada8@gmail.com"><span><i class="far fa-paper-plane"></i> Send </span></a>
        
            </form>
            <!-- Form -->
            </mdb-card-body>
    </mdb-card>
</div>