<button class="btn btn-info float-right border" (click)="edit()"><span> 
    <i class="fas fa-edit"></i> Edit </span></button>
<h1>
  {{block.title}}
</h1>
<div *ngFor="let paragraph of block.paragraphs">
  <h4 *ngIf="paragraph.title">{{paragraph.title}}</h4>
  <br/>
  <div *ngIf="paragraph.type === 'textOnly'"> 
    <span>
      <p>{{paragraph.description}}</p>
    </span>
  </div>

  <div *ngIf="paragraph.type === 'deckImg'" class="row"> 
    <div class="col-md-4 col-sm-4 col-lg-4">
      <img src="{{paragraph.image}}">
    </div>
    <div class="col-md-8 col-sm-8 col-lg-8">
        <span>
            <p>{{paragraph.description}}</p>
          </span>
      </div>
    </div>

  <div *ngIf="paragraph.type === 'cardsDesc'"> 
      <div class="col-md-12 col-sm-12 col-lg-12">
        <img src="{{paragraph.image}}">
      </div>
      <div class="col-md-12 col-sm-12 col-lg-12">
          <span>
              <p>{{paragraph.description}}</p>
            </span>
        </div>
    </div>

    <div *ngIf="paragraph.type === 'listOnly'"> 
        <div class="list-group list-group-flush">
            <a *ngFor="let item of paragraph.listData" class="list-group-item list-group-item-action list-group-item-dark">{{item}}</a>
        </div>
      </div>   
    <br/>
</div>
<hr>
<news-block-edit [block]="block" [shouldEdit]="shouldEdit">

</news-block-edit>