<hr>
<label for="title"> Title</label>
<input type="text" class="form-control" id="title"
      required
      [(ngModel)]="paragraph.title" name="title"
      #title="ngModel">

<label for="description"> Description</label>
<textarea type="text" class="form-control" id="description"
      required
      [(ngModel)]="paragraph.description" name="description"
      #description="ngModel">
</textarea>

<div *ngIf="paragraph.image">
  <label for="image"> Image </label>
  <input type="text" class="form-control" id="image"
      [(ngModel)]="paragraph.image">
</div>

<!-- <div *ngIf="paragraph.type === listData">
    <list-edit [listData]="paragraph.listData" [listLabel]="paragraph.title"> </list-edit>  
</div> -->