<hr>
<div *ngIf="shouldEdit">
  <div class="col-md-12 col-sm-12 col-lg-12">
    <label for="name"> Deck's title</label>
    <input type="text" class="form-control" id="title"
          required
          [(ngModel)]="deck.title" name="title"
          #title="ngModel">
    <div [hidden]="title.valid || title.pristine"
        class="alert alert-danger">
      Title is required
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12">
    <label for="title"> Deck's rating</label>
    <input type="number" class="form-control" id="rating"
          required
          [(ngModel)]="deck.rating" name="rating"
          #rating="ngModel">
    <div [hidden]="rating.valid || rating.pristine"
        class="alert alert-danger">
      Rating is required
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12">
    <label for="description"> Deck's description</label>
    <textarea type="text" class="form-control" id="description"
          required
          [(ngModel)]="deck.description" name="description"
          #description="ngModel">
    </textarea>
    <div [hidden]="description.valid || description.pristine"
        class="alert alert-danger">
      description is required
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12">
    <label for="name"> Image</label>
    <input type="text" class="form-control" id="image"
          required
          [(ngModel)]="deck.image" name="image"
          #image="ngModel">
  </div>
  <div *ngFor="let decklist of deck.decklistData">
    <list-edit [decklistData]="decklist"></list-edit>
  </div>
  <label>New deck data</label>
  <list-edit [decklistData]="newDecklistData" (add)="onAdd()"></list-edit>
  <div class="col-md-12 col-sm-12 col-lg-12">
    <label for="importLink"> Import's link</label>
    <input type="text" class="form-control input-large" id="importLink"
          required
          [(ngModel)]="deck.importLink" name="importLink"
          #importLink="ngModel">
  </div>
</div>