  <div class="col">
    <button class="btn btn-info float-right border" *ngIf="authService.authenticated"  (click)="edit()"><span> <i class="fas fa-edit"></i> Edit </span></button>
  </div>

  <mdb-card  wider="true" reverse="true" class="my-4" bgColor="bg-dark" >
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="{{header.image}}"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Card content -->
      <mdb-card-body bgColor="bg-transparent" >
        <!--Title-->
        <mdb-card-title>
          <h4>
            <strong>{{header.title}}</strong>
          </h4>
        </mdb-card-title>
    
        <h5 class="indigo-text">
          <strong>{{header.author}}</strong>
        </h5>
    
        <mdb-card-text bgColor="bg-transparent" class="text-white">
            {{header.shortDescription}}
        </mdb-card-text>
        <mdb-card-text class="text-right">
          <a class="icons-md">
              <mdb-icon far icon="clock"></mdb-icon>
              {{header.date | date | date:'MM/dd/yyyy'}}
          </a>
        </mdb-card-text>
      </mdb-card-body>
  </mdb-card>

  <div *ngIf="shouldEdit" class="container container-fluid ">
    <gwent-header-edit [header]="header" [shouldEdit]="shouldEdit">
    </gwent-header-edit>
    <br/>
  </div>


