<div class="col-md-12 col-sm-12 col-lg-12">
  <label for="label">{{decklistData.key}}</label>
  <div class="row" *ngFor="let item of decklistData.listData; let i = index; trackBy:trackByFn">
    <div class="col-md-11 col-sm-11 col-lg-11">
      <input type="text" class="form-control" 
      [(ngModel)]="decklistData.listData[i]" >
    </div>
    <div class="col-md-1 col-sm-1 col-lg-1">
      <button (click)="removeElement(item)" class="btn btn-danger border" ><span> <i class="fas fa-trash"></i></span></button>
    </div>
  </div>
  <div class="row" *ngIf="shouldAdd">
    <div class="col-md-11 col-sm-11 col-lg-11">
      <input type="text" class="form-control" 
      [(ngModel)]="newElement" >
    </div>
    <div class="col-md-1 col-sm-1 col-lg-1">
      <button (click)="saveElement(newElement)" class="btn btn-success border" ><span> <i class="far fa-save"></i></span></button>
    </div>
  </div>
  <div class="row container">
    <div class="col-md-10 col-sm-10 col-lg-10" *ngIf="!decklistData.key" >
      <select  class="browser-default custom-select"  [(ngModel)]="key">
              <option selected [value]="'Mulligan Order'">Mulligan Order</option>
              <option [value]="'Strenghts'">Strenghts</option>
              <option [value]="'Weaknesses'">Weaknesses</option>
              <option [value]="'Matchup Summary'">Matchup Summary</option>
              <option [value]="'Considerations'">Considerations</option>
      </select>
    </div> 
    <div  class="col-md-2 col-sm-2 col-lg-2">
        <button (click)="addElement()" class="btn btn-sm btn-success"><span><i class="fas fa-plus"></i> Add</span></button>
    </div>
  </div>
</div>