    
    
    <app-header></app-header>
    <div *ngIf="homeOrMedia" class="hero">
         
     </div>
    <div class="container-fluid col d-flex justify-content-center px-auto"    
        style=" padding-bottom:20%; ">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>