/* remove following if menu bar is not tranparent and background is not waterry*/
span {
    color:#33b5e5;
}
.navbar .dropdown-menu a {
    color:#33b5e5 !important;
}
.dropdown-item :hover { 
    color: blueviolet;
}
.dropdown-toggle {
    color: blueviolet;
}



