<div class="container col">
  <gwent-header *ngIf= "guide" [header]="guide">
  </gwent-header>
  <div *ngIf="authService.authenticated" class="col-md-12 col-sm-12 col-lg-12">
    <button class="btn btn-info float-right border" (click)="edit()">
      <span> <i class="fas fa-edit"></i> Edit </span></button>
    <button *ngIf="guide && !guide.deck" class="btn btn-succes float-right border" (click)="addDeck()">
      <span> <i class="fas fa-plus"></i> Add deck </span></button>
  </div>
  <div class="container col-10">
    <div *ngIf= "guide && guide.deck">
      <gwent-deck [deck]="guide.deck" [shouldEdit]="shouldEdit" [isGuide]="'true'">
      </gwent-deck>
    </div>

    <br />
    <div class="text-center" *ngIf="authService.authenticated && shouldEdit">
      <button (click)="save()" class="btn btn-outline-success btn-block"> <span><i class="fa fa-save"></i>
          Save</span></button>
    </div>
    <mdb-card bgColor="bg-dark" >
      <mdb-card-body>
        <mat-tab-group *ngIf="guide && guide.matchUps" >
          <mat-tab *ngFor="let matchUp of guide.matchUps" label="{{matchUp.title}}"> 
                  <gwent-match-up [matchUp]="matchUp" [shouldEdit]="shouldEdit"></gwent-match-up>
            </mat-tab>
        </mat-tab-group>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>