<div class="container">
  <div *ngFor="let founder of founders">
    <founders-details [founder]="founder" [assetsPath]="assetsPath">
    </founders-details>
  </div>
  <div *ngIf="authService.authenticated"> 
      <button class="float-left btn btn-outline-success btn-md" (click)="addPlayer()">
          <span><i class="fas fa-plus"></i> Add</span>
      </button>
      <br/>
      <div *ngIf="isOnCreate" class="col align-self-start">
        <player-edit 
          [isOnCreate]="'true'"
          [player]="newPlayer"
          [shouldEdit]="'true'">
        </player-edit>
      </div>
    </div>
</div>