<div class="card-group">
    <mdb-card bgColor="bg-dark" borderColor="border-info" *ngFor="let video of videoGroup.group" style="max-width: 27rem">
      <mdb-card-body>
          <div class="embed-responsive embed-responsive-16by9 col mr-4">
              <iframe class="embed-responsive-item"  [src]="video.link | safe" allowfullscreen></iframe>
        </div>
        <mdb-card-footer><small class="text-muted">auhor {{video.author }}</small></mdb-card-footer>
      </mdb-card-body>
    </mdb-card>
</div>


  <button *ngIf="authService.authenticated" class="btn btn-md btn-info" (click)="edit()"><span><i class="fas fa-plus"></i> Add </span></button>
 <div *ngIf="shouldEdit">
    <media-edit [mediaVideo]="newVideo" [collectionName]="GWENT_MEDIA" >
    </media-edit>
  </div>
