<hr>
<div *ngIf="shouldEdit">
  <label for="name"> Name</label>
  <input type="text" class="form-control" id="name"
        required
        [(ngModel)]="player.name" name="name"
        #name="ngModel">
  <div [hidden]="name.valid || name.pristine"
      class="alert alert-danger">
    Name is required
  </div>

  <label for="title"> Title</label>
  <input type="text" class="form-control" id="title"
        required
        [(ngModel)]="player.title" name="title"
        #title="ngModel">
  <div [hidden]="title.valid || title.pristine"
      class="alert alert-danger">
    Title is required
  </div>

  <label for="shortDescription"> Short description</label>
  <input type="text" class="form-control" id="shortDescription"
        required
        [(ngModel)]="player.shortDescription" name="shortDescription"
        #shortDescription="ngModel">

  <label for="about"> About</label>
  <div >
      <textarea id="about"
            required
            [(ngModel)]="player.about" name="about"
            #about="ngModel"
            type="text" 
            id="form7" 
            class="form-control" 
            ></textarea>
 </div>
  <div [hidden]="about.valid || about.pristine"
      class="alert alert-danger">
      Player about is required
  </div>

  <label for="title"> Image name</label>
  <input type="text" class="form-control" id="image"
        required
        [(ngModel)]="player.profilePicture" name="image"
        #image="ngModel">

      <div>
            <label>Social links: </label>
            <div *ngFor="let socialLink of player.socialLinks; let i = index; trackBy:trackByFn">
                  <label>{{player.socialLinks[i].key}}</label>
                  <input type="text" class="form-control" 
                  [(ngModel)]="player.socialLinks[i].value">
                  <br/>
            </div>
            <div class="row">
                  <div class="col-md-5 col-sm-5 col-lg-5">
                        <label for="socialLinkKey"> Social link name (twitter, twitch, youtube) </label>
                        <input type="text" class="form-control" id="socialLinkKey"
                              required
                              [(ngModel)]="newSocialLink.key" name="socialLinkKey"
                              #socialLink="ngModel">
                  </div>
                  <div class="col-md-6 col-sm-6 col-lg-6 align-self-end">
                        <label for="socialLinkValue"> Link </label>
                        <input type="text" class="form-control" id="socialLinkValue"
                              required
                              [(ngModel)]="newSocialLink.value" name="socialLinkValue"
                              #socialLinkValue="ngModel">
                  </div>
                  <div class="col-md-1 col-sm-1 col-lg-1 align-self-end">
                  <button class="btn btn-success btn-sm" (click)="addSocialLink()"><span><i class="fas fa-plus"></i></span></button>
                  </div>
            </div>
            <br/>
      </div>

  <button type="button" 
         class="btn btn-outline-success btn-lg btn-block"
         (click)="save()">
         <span><i class="fas fa-save"></i> Save</span></button>
</div>

<modal-confirmation #modalConfirmation
    [confirmationMessage]="'Are you sure you want to save the profile for '"
    [changedName]="player.name">
</modal-confirmation>


<!-- TODO add a big save button and call firebase for saving the data -->