<div class="container col-md-8 col-sm-8 col-lg-8">
    <button (click)="addHeader()"  *ngIf="authService.authenticated"  class="btn btn-outline-success "> <span><i class="fa fa-plus"></i> Add </span> </button>
    <mdb-card  *ngFor="let header of headers" class="text-center text-white mb-4"  bgColor="bg-dark">
        <mdb-card-header>{{header.title}}</mdb-card-header>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <mdb-card-img src="{{header.image}}" alt="Card image cap"></mdb-card-img>
          </div>
    <!--Card content-->
        <mdb-card-body>
          <mdb-card-title>
            <h5>Author -{{header.author}}</h5>
          </mdb-card-title>
          <mdb-card-text class="text-white">{{header.shortDescription}}</mdb-card-text>
          <a [routerLink]="useTypeInRouter? header.type + '/' + header.id :header.id" mdbBtn color="primary" mdbWavesEffect>Read more</a>
        </mdb-card-body>
        <mdb-card-footer class="text-muted">{{header.date | date | date:'MM/dd/yyyy'}}</mdb-card-footer>
    </mdb-card>
    <br/>
  </div>
<div *ngIf="isOnCreate">
  <gwent-header-edit
    [header]="newHeader"
    [shouldEdit]="'true'"
    [isOnCreate]="'true'"
    >
  </gwent-header-edit>
</div>

