<div *ngIf="authService.authenticated"> 
    <button class="float-left btn btn-outline-success btn-md" (click)="addPlayer()">
        <span><i class="fas fa-plus"></i> Add</span>
    </button>
    <br/>
    <div *ngIf="isOnCreate" class="col align-self-start">
      <player-edit 
        [isOnCreate]="'true'"
        [player]="newPlayer"
        [shouldEdit]="'true'">
      </player-edit>
    </div>
  </div>
  <br/>
  <div class= "card-deck" style="color: transparent" bgColor="bg-dark">
    <div *ngFor="let player of team" class="col-auto">
      <player-profile
        [assetsPath]="assetsPath"
        [player]= "player">
      </player-profile>
    </div>
  </div>
  