<!-- <div class="container col-lg-8 col-md-8 col-sm-8">
    <img src="../../assets/homepage-main.jpg" style="width: 100%;">
    <span *ngFor="let paragraph of paragraphs">
        <h3>{{paragraph.title}}</h3>
        <b>{{paragraph.description}}</b>
    <br/>
    </span>

</div> -->

<div class="container col-10 justify-content-center" >   

    <div class="card-deck pt-2">
            <!-- Card -->
            <mdb-card *ngFor="let header of headers" bgColor="bg-dark" class="text-center border-secondary" >
            <div class="view overlay waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="{{header.image}}" alt="{{header.altImage}}"></mdb-card-img>
                <a>
                <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--Card content-->
            <mdb-card-body>
                <!--Title-->
                <mdb-card-title class="text-secondary">
                <h4>{{header.title}}</h4>
                </mdb-card-title>
        
                <!--Text-->
                <mdb-card-text class="text-white text-left"> 
                    {{header.shortDescription}}
                </mdb-card-text>
           

                <mdb-card-text  class="text-right">
                    <a class="icons-md float-left">
                            <mdb-icon far icon="clock"></mdb-icon>
                            {{header.date | date | date:'MM/dd/yyyy'}}
                    </a>
                    <a class="link-text " [routerLink]="['/gwent-content/' + header.type + '/' + header.id]">
                        <span class="waves-light" mdbWavesEffect>Read more
                        <i class="fas fa-angle-double-right " ></i>
                        </span>
                    </a>
                
                </mdb-card-text>
                <!-- <button mdbBtn type="button" gradient="peach" rounded="true" mdbWavesEffect class="float-center">More</button> -->
            </mdb-card-body>
        </mdb-card>
    </div>
        <div class="row pt-4">
            <div class="col-4 ml-auto" >
                <div *ngFor="let video of videos" class="embed-responsive embed-responsive-4by3 mt-1"  >
                        <iframe class="embed-responsive-item" [src]="video.link | safe" allowfullscreen ></iframe>
                </div>
            </div>
        
            <div class="col-4 mr-auto" >
                    <a class="twitter-timeline"  data-height="800" data-dnt="true" data-theme="dark" href="https://twitter.com/LeviathanTlg?ref_src=twsrc%5Etfw">Tweets by LeviathanTlg</a> 
            </div>
        </div>
        
</div>
