<!--Section: Author Box-->
<section class="my-5">
    <!-- Card header -->
    <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
      <p class="mr-4 mb-0 text-info">{{founder.title}} </p>
      <ul class="list-unstyled list-inline mb-0">
        <li class="list-inline-item"><a class="text-default mr-3"><i class="fas fa-envelope mr-1"></i>Send
            message</a></li>
      </ul>
    </div>
  
    <div class="media mt-4 px-1 text-white">
        <div class="view" mdbWavesEffect>
            <img class="card-img-150 rounded-circle d-flex z-depth-1 mr-3" src="{{assetsPath + founder.profilePicture}}"
                 alt="Generic placeholder image">
            <a>
              <div class="mask waves-effect waves-light rgba-white-slight"></div>
            </a>
          </div>
    
      <div class="media-body">
        <h5 class="font-weight-bold mt-0">
          <a class="text-secondary" href="">{{founder.name}}</a>
        </h5>
        <ul class="list-unstyled list-inline mb-2 pt-1">
          <li class="list-inline-item" *ngFor="let socialLink of founder.socialLinks">
                <a  
                class="mr-1 grey-text" 
                href="{{socialLink.value}}">
                <i class="{{socialLink.iconClass}}"></i>
                </a>
          </li>
        </ul>
        {{founder.about}}
      </div>
    </div>
  
  </section>