<div class="container col-lg-8 col-md-8 col-sm-8 text-center">
    <img src="../../assets/sponsors.jpg" style="width: 100%; ">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Become a TLG sponsor</h2>
    <!--Section description-->
    <b class="text-center w-responsive mx-auto mb-5">
      Interested in sponsoring a rising esports team?! Click the Contact Us 
              and someone will respond ASAP.</b>
</div>