


  <div mdbModal #frame="mdbModal" class="modal fade top " id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content bg-transparent">
      <!--Header-->
      <div class="modal-header text-secondary">
        <p class="heading lead">{{player.name}} - {{ player.title}}</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <!-- <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i> -->
          <mdb-card>
            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
              <!-- Card img -->
              <mdb-card-img  src="{{assetsPath + player.profilePicture}}" alt="Card image cap"></mdb-card-img>
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--Card content-->
            <mdb-card-body class="text-center">
                <mdb-card-text> 
                  <p>{{player.about}}</p>
                  </mdb-card-text>
              <mdb-card-footer >
                <a *ngFor="let socialLink of player.socialLinks" 
                  class="icon-md mr-2" 
                  href="{{socialLink.value}}">
                  <i class="{{socialLink.iconClass}}"></i>
                </a>
              </mdb-card-footer>
            </mdb-card-body>
        </mdb-card>
        </div>
      </div>

      <!--Footer-->
      <!-- <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="success" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Close</a>
      </div> -->
    </div>
    <!--/.Content-->
  </div>
</div>

  <mdb-card borderColor="border-info" bgColor="bg-dark"  class="text-white" style="max-width: 20rem;">
      <mdb-card-body bgColor="bg-transparent" >
        <mdb-card-title class="text-secondary" bgColor="bg-transparent" >
          <h5>{{player.name}} {{ player.title}}</h5>
        </mdb-card-title>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="{{assetsPath + player.profilePicture}}" 
                    alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
        <mdb-card-text  class="text-white" >{{player.shortDescription}}</mdb-card-text>
        <mdb-card-text class="text-center">
            <button type="button" mdbBtn outile="true"  gradient="peach"  rounded="true" data-toggle="modal" data-target="#basicExample" (click)="frame.show()"
                      mdbWavesEffect> <span><i class="fas fa-info-circle fa-lg"></i>  More</span></button>
      
            <button *ngIf="authService.authenticated" 
              class="btn btn-md btn-outline-warning float-right" 
              (click)="showEdit()">
            <span> <i class="fas fa-pen"></i> {{editText}}</span>
          </button>
      </mdb-card-text>
      </mdb-card-body>
    </mdb-card>

<player-edit 
  [player]="player"
  [shouldEdit]="shouldEdit">
</player-edit>




